<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @image.file.url :big %>
</p>

<div class="clearfix"></div>
<strong>Name:</strong>
<%= @image.name %>

<div class="clearfix"></div>
<%= link_to (fa_icon 'pencil'), edit_image_path(@image) %> |
<%= link_to (fa_icon 'arrow-left'), images_path, title: 'Voltar' %>
