<!DOCTYPE html>
<html>
<head>
  <title>Galleryglobo | Slider</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <meta name="viewport" content="initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<div id="top-menu">
  <%= link_to (image_tag "/images/globo.png"), welcome_index_path %>
</div>

<div class="container">
  <div class="pull-right">
    <%= link_to (fa_icon "plus", :text => "Add new image"), new_image_path %>
    <%= link_to (fa_icon "eye", :text => "List images"), images_path %>
  </div>
  <div class="clearfix"></div>

  <div class="text-center">
    <%= yield %>
  </div>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
